
<div class="widget-container">
    <div class="widget green">
        <div class="icon">
            <fa-icon [icon]="faStethoscope"></fa-icon>
        </div>
      <div class="value">
        <div class="top">32</div>
        <div class="bottom">Doctors</div>
      </div>
    </div>
    <div class="widget yellow">
        <div class="icon">
            <fa-icon [icon]="faHeart"></fa-icon>
        </div>
      <div class="value">
        <div class="top">{{patientservice.get_number_of_patients()}}</div>
        <div class="bottom"> Patients </div>
      </div>
    </div>
