<div class="signup">
    <div class="container">
        <div class="add-opatient-header">

            <div class="sign-up-heading">
                Send To Doctor
            </div>
            <span>
                X
            </span>
        </div>
        <div class="bottom">
            <select name="doctor" id="doctor">
                <option value="doctor1">Doctor 1</option>
                <option value="doctor2">Doctor 2</option>
              </select>
              <button type="submit" 
              class="submit-button">Save</button>
    </div>
    </div>
</div>