<div class="container flex flex-col items-center justify-center">
    <div class="header text-black">
      <div class="section-title text-3xl text-center">Send To Doctor   
         </div>
         </div>
      <div class="button-container">
       
        <div class="bottom">
            <select name="doctor" id="doctor" class="h-10 w-25">
                <option value="doctor1">Parth Sharma</option>
                <option value="doctor2">Anashi Thakur</option>
                <option value="doctor3">Soniya Khanna</option>
                <option value="doctor4">Sidharth Kapoor</option>
                <option value="doctor5">Sneha Jain</option>
                <option value="doctor6">Krishna Gambhir</option>

              </select>
              <button type="submit" 
              class="submit-button">Save</button>
    </div>
    </div>
</div>
