.header-top {
    background-color: #DCFFFF;
    height: 75vh;
}

.header-h1 {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 9rem;
    padding-left: 4rem;
}

.header-h2 {
    font-size: 3.5rem;
    font-weight: 700;
    padding-left: 4rem;
    color: #20B5B5;
}

.header-bottom {
    background-color: #20B5B5;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0;
    height: 15vh;
}

.stats {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
}

.stat-item {
    padding-left: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat-big {
    font-size: 3.5rem;
    font-weight: 600;
    margin: 0;
}

.stat-small {
    font-size: 0.8rem;
    font-weight: 300;
}

.section {
    margin-top: 4rem;
    padding: 3rem;
    padding-left: 4rem;
}

.section-heading {
    font-size: 2.5rem;
    font-weight: 600;
}

.s1 {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.s1 li {
    border: solid;
    border-radius: 1rem;
    margin-right: 1rem;
    padding: 2rem;
}

.s1-head {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;

}

.s1-content {
    font-size: 0.8rem;
    font-weight: 300;
}


.s2 {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.s2-img {
    height: 40vh;
    border-radius: 3rem;
    margin-right: 5rem;
}

ul {
    margin: 0;
    padding: 0;
}

.s2-sublist {
    padding-top: 1rem;
    list-style:disc;
    font-size: 1rem;
    font-weight: 300;
}

.s2-sublist li {
    margin: 1rem;
}

.s3 {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s3-sublist li {
    list-style: none;
    padding-bottom: 2rem;
}

.s3-img {
    width: 40vw;
    margin-right: 5rem;
    border-radius: 3rem;
}

.bg {
    background-color: #DCFFFF;
}

.s4 {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s4-sublist {
    padding-right: 7rem;
}

.s4-sublist li {
    list-style: none;
    padding-bottom: 2rem;
}

.s4-img {
    width: 40vw;
    margin-right: 4rem;
    border-radius: 3rem;
}

.footer {
    background-color: #20B5B5;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: white;
    padding-left: 4rem;
}

.footer-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-list-left {
    list-style: none;
    width: 25vw;
}

.f-list-right {
    list-style: none;
}

.footer-heading {
    font-weight: 600;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.footer-img {
    width: 25vh;
}