<!--<app-patient-form></app-patient-form>
<app-patient-details></app-patient-details>-->

<div class="container">
    <div class="row">
      <div class="card-box">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="https://electrothon.nith.ac.in/organizers/webp/priyanshu.webp">
          </div>
          <div class="team-content">
            <div class="name">Priyanshu Rajput</div>
            <div class="title">Full Stack Web Developer</div>
          </div>
        </div>
      </div>
          <div class="card-box">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="https://spec.nith.ac.in/Team%20Page/assets/team_images/Adhishraya.jpg">
          </div>
          <div class="team-content">
            <div class="name">Adhishraya Sharma</div>
            <div class="title">Backend Web Developer</div>
          </div>
        </div>
      </div>
          <div class="card-box">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="https://media.licdn.com/dms/image/C4E03AQEU0u9bw_1inw/profile-displayphoto-shrink_400_400/0/1643964711921?e=1684972800&v=beta&t=Xc2mDl1BBxb7Dr-GNSIylQAvwyTmpebwLRIsh3hZ9Gs">
          </div>
          <div class="team-content">
            <div class="name">Harshita Bhatia</div>
            <div class="title">Frontend Web Developer</div>
          </div>
        </div>
      </div>
          <div class="card-box">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="https://media.licdn.com/dms/image/D4D03AQFR2ezPYkblCg/profile-displayphoto-shrink_800_800/0/1674933463780?e=1684972800&v=beta&t=0bq99FUe72vqsarXLaR3AGsMV9h-KhBELDDYrWlroH4">
          </div>
          <div class="team-content">
            <div class="name">Sejal Jain</div>
            <div class="title">Android Developer</div>
          </div>
        </div>
      </div>
    </div>
  </div>
