body {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 5rem;
  }


.container {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .our-team {
    height: 40vh;
    padding-top: 2.5rem;
    /* margin-right: 1rem; */
    margin-bottom: 30px;
    background-color: #DCFFFF;
    text-align: center;
    overflow: hidden;
    position: relative;
    width: 22vw;
  }
  
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 30px;
    z-index: 1;
    position: relative;
  }
  
  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #20B5B5;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .card-box{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .our-team:hover .picture::before {
    height: 100%;
  }
  
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #20B5B5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  
  .our-team .name {
    padding: 0.5rem;
    display: block;
    font-size: 1.2rem;
    font-family: poppins;
    color: #1b9b9b;
    text-transform: capitalize;
    font-weight: 600;
  }
  

  .our-team .title {
    padding: 0.5rem;
    display: block;
    font-size: 1rem;
    font-family: poppins;
    color: #1b9b9b;
    text-transform: capitalize;
  }
  
  @media screen and (max-width: 800px) {
    .row {
      display: grid;
      grid-template-columns: 1fr 1fr ;
    }

    .our-team {
      width: 40vw;
    }
  }

  @media screen and (max-width: 500px) {
    .row {
      display: grid;
      grid-template-columns: 1fr;
    }

    .our-team {
      width: 80vw;
    }
  }
  