<nav class="navbar">
    <div>
        <span>Logo</span>
    </div>
    <div class="navlinks">

        <a routerLink="/" routerLinkActive="active" >Home</a>
        <a routerLink="/about" routerLinkActive="active" >About</a>
        <a routerLink="/team" routerLinkActive="active" >Team</a>
        <a routerLink="/login" routerLinkActive="active" >Login</a>
    </div>

        <div>

            <svg class="mobile-hamburger" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" (click)="openNavDropdown()" >
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </div>
</nav>
<div [ngClass]="{'dropdown' : dropDownState, 'nav-dropdown' : !dropDownState}">
    <a routerLink="/" routerLinkActive="active" >Home</a>
        <a routerLink="/about" routerLinkActive="active" >About</a>
        <a routerLink="/team" routerLinkActive="active" >Team</a>
        <a routerLink="/login" routerLinkActive="active" >Login</a>
</div>

<div class="heading">
    Patient List
</div>

<div class="search">
    <input type="text" placeholder="Enter patient id" id="email" class="search-patient">
</div>

<div class="display">
<ul class="list-patients">
    <ul class="rows">
        <li>
            Patient Name
        </li>
        <li>
            Id
        </li>
        <li>
            Date
        </li>
        <li>
            Gender
        </li>
        <li>
            Status
        </li>
    </ul>
    <ul class="rows">
        <li>
            
        </li>
        <li>
            23456
        </li>
        <li>
            Jun 21, 2023
        </li>
        <li>
            Male
        </li>
        <li>
            In-Treatment
        </li>
    </ul>
</ul>
</div>