.navbar {
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    /* background-color: #252020; */
    background-color: #DCFFFF;
    color: #20B5B5;
    padding: 1rem;


}

.navbar a {
    /* margin-left: 2rem; */
    text-decoration: none;
    color: #20B5B5;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    margin: 0 0.2rem;
    transition: all 0.4s ease-in-out;
}

.navbar a:hover {
    color: white;
    background-color: #20B5B5;
}

.mobile-hamburger {
    color: white;
    height: 22px;
    width: 22px;
    display: none;
    cursor: pointer;

}

.nav-dropdown {
    /* position: absolute; */
    display: none;
    /* position: initial; */

}

.dropdown {
    display: none;
}

.nav-dropdown a {
    text-decoration: none;
    margin: 0;
    cursor: pointer;
    color: white;
    /* padding-top: 0.5rem; */
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.nav-dropdown a:hover {
    color: rgb(17 24 39);
    background-color: rgb(155, 155, 155);
}

.heading {
    margin-left: 3rem;
    font-size: x-large;
    margin-top: 2rem;
}

.search-patient {
    margin-left: 3rem;
    margin-top: 1rem;
}

.list-patients {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.rows {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.display {
    width: 80vw;
    height: 80vh;
}

@media screen and (max-width: 480px) {
    .mobile-hamburger {
        display: flex;
    }

    .navlinks {
        display: none;
    }

    .nav-dropdown {
        background-color: rgb(17 24 39);
        color: white;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 1rem;
        border-radius: 0.8rem;
        position: absolute;
        left: 0;
        right: 0;
    }
}