<nav class="navbar">
    <div>
        <span>Logo</span>
    </div>
    <div class="navlinks">

        <a routerLink="/" routerLinkActive="active" >Home</a>
        <a routerLink="/about" routerLinkActive="active" >About</a>
        <a routerLink="/team" routerLinkActive="active" >Team</a>
        <a routerLink="/" routerLinkActive="active" >Login</a>
    </div>

        <div>

            <svg class="mobile-hamburger" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" (click)="openNavDropdown()" >
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </div>
</nav>
<div [ngClass]="{'dropdown' : dropDownState, 'nav-dropdown' : !dropDownState}">
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
</div>

