<div class="signup">
    <div class="container">
    <div class="sign-up-heading">
        Add New Patient
    </div>
        <div class="detail">
            <input type="name" placeholder="name" class="placeholder" name="name" #name>
        </div>
        <div class="detail">
            <input type="number" placeholder="age" class="placeholder" name="age" #age>
        </div>
        <button type="submit" 
        (click)="patientservice.registerpatient(name.value, age.value)"
        class="submit-button">Sign in</button>
    </div>
</div>