.signup {
    margin: auto;
}

.container {
    width: 30vw;
    height: 50vh;
    background: #20B5B5;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
