<div class="signup">
    <div class="container">
        <div class="header-box">

            <div class="sign-up-heading">
                Add Patient Details
                
            </div>
            <span (click) = "this.onAddDetailsClose.emit()">
                X
            </span>
        </div>
        <div class="detail">
            <input type="id" placeholder="Uid" class="placeholder" name="Uid" #id>
        </div>
        <div class="detail">
            <input type="text" placeholder="Name" class="placeholder" name="Name" #name>
        </div>
        <div class="detail">
            <input type="number" placeholder="Age" class="placeholder" name="Age" #age>
        </div>
        <div class="detail">
            <input type="text" placeholder="Phone No." class="placeholder" name="phone" #phoneno>
        </div>
        <div class="detail">
            <input type="text" placeholder="Disease" class="placeholder" name="Disease" #ailments>
        </div>
        <button type="submit" 
        (click)="AddPatientDetails(id.value, name.value, age.valueAsNumber, phoneno.value, ailments.value)"
        class="submit-button">Save</button>
    </div>
</div>