body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header-top {
    background-color: #DCFFFF;
    height: 75vh;
}

.header-h1 {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 9rem;
    padding-left: 4rem;
}

.header-h2 {
    font-size: 3.5rem;
    font-weight: 700;
    padding-left: 4rem;
    color: #20B5B5;
}

.header-bottom {
    background-color: #20B5B5;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0;
    height: 22vh;
}

.stats {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
}

.stat-item {
    padding-left: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat-big {
    font-size: 3.5rem;
    font-weight: 600;
    margin: 0;
}

.stat-small {
    font-size: 0.8rem;
    font-weight: 300;
}

.section {
    margin-top: 1.5rem;
    padding: 3rem;
    padding-left: 4rem;
}

.section-heading {
    font-size: 2.5rem;
    font-weight: 600;
    white-space: nowrap;
}

.s1 {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.s1 li {
    border: solid;
    border-radius: 1rem;
    margin-right: 1rem;
    padding: 2rem;
}

.s1-head {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    position: relative;
}

.s1-content {
    font-size: 0.8rem;
    font-weight: 300;
}

.s1 li:hover {
    background-color: #20B5B5;
    color: white;
    cursor: default;
}

li:hover svg{
    fill: white;
}

.s2 {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


img {
    width: 40vw;
    margin-left: 1rem;
    border-radius: 3rem;
}

ul {
    margin: 0;
    padding: 0;
}

.s2-sublist {
    padding-top: 1rem;
    list-style:disc;
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}



.s3 {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.s3-sublist li {
    list-style: none;
    padding-bottom: 1rem;
}


.bg {
    background-color: #DCFFFF;
}

.s4 {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.s4-sublist {
    display: flex;
    flex-direction: column;
    width: 40vw;
}


.s4-sublist li {
    list-style: none;
    padding-bottom: 2rem;
}

.footer {
    background-color: #20B5B5;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: white;
    padding-left: 4rem;
}

.footer-list {
    list-style: none;
    align-items: left;
    width: 60vw;
}

.footer-heading {
    font-weight: 600;
    font-size: 1.2rem;
}


.footer-content {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 300;
    width: 30vw;
}

.highlight {
    color: #20B5B5;
}

svg {
    width: 4vw;
    height: 4vh;
}


@media screen and (max-width:  800px){
    .header-top {
        background-color: #DCFFFF;
        height: 40vh;
    }

    .header-h1 {
        font-size: 2.5rem;
        padding-top: 2rem;
        padding-left: 0;
        margin: 0;
        text-align: center;
    }
    
    .header-h2 {
        font-size: 3rem;
        font-weight: 700;
        padding-left: 0;
        margin: 0;
        color: #20B5B5;
        text-align: center;
    }

    .header-bottom {
        height: 5vh;
        padding-top: 0.5rem;
        padding-bottom: 1.5rem;
        text-align: center;
    }

    .stats {
        align-content: center;
        justify-content: center;
    }

    .stat-item {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .stat-big {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0;
    }
    
    .stat-small {
        font-size: 0.8rem;
        font-weight: 300;
    }

.section {
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-top: 1rem;
}
    .s1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 1rem;
    }

    .s1 li {
        padding: 1rem;
    }

    img {
        width: 55vw;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .section-heading {
        font-size: 5.5vw;
        text-align: center;
    }
    .s2 {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    .s2-sublist li {
        margin: 0.5rem;
    }

    .s3 {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    .s4 {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    .s4-sublist {
        width: 60vw;
    }

    .footer {
        padding-left: 2rem;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    .footer-content{
        width: 30rem;
    }

    .footer-content {
        width: 80vw;
    }
 }

 @media screen and (max-width: 500px) {

    .header-top {
        background-color: #DCFFFF;
        height: 40vh;
    }

    .header-h1 {
        font-size: 2.5rem;
        padding-top: 2rem;
        padding-left: 1rem;
    }
    
    .header-h2 {
        font-size: 3rem;
        font-weight: 700;
        padding-left: 1rem;
        color: #20B5B5;
    }

    .header-bottom {
        height: 5vh;
        padding-top: 0.5rem;
        padding-bottom: 1.5rem;
    }

    .stat-item {
        padding-left: 2rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .stat-big {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0;
    }
    
    .stat-small {
        font-size: 0.8rem;
        font-weight: 300;
    }

.section {
    padding-left: 2rem;
    margin-top: 1rem;
}
    .s1 {
        display: flex;
        flex-direction: column;
    }

    img {
        width: 80vw;
        
    }

    .section-heading {
        font-size: 7vw;
    }
    .s2 {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    .s2-sublist li {
        margin: 0.5rem;
    }

    .s3 {
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
    }

    .s4 {
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
    }

    .footer {
        padding-left: 2rem;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    .footer-content{
        width: 30rem;
    }

    .footer-content {
        width: 80vw;
    }
 }