<div class="background">
<div class="login-bg">
  <div class="login-from">
    <div class="log-header-div">
      <div class="icon">
        <fa-icon [icon]="faRightToBracket"></fa-icon>
    </div>

    </div>
    <span class="form-header">Sign Up</span>
    <div class="sign-in-with-google" (click)="authService.GoogleAuth()">
      <svg fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512">
        <path
          d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z" />
      </svg>
      Sign in With Google
    </div>
    <form class="login-form">
      <div class="email-div">
        <label for="email"> Email Address </label>
        <input type="email" placeholder="Email" id="email" name="email" #email required />
      </div>
      <div class="password-div">
        <input type="password" placeholder="Password" id="password" name="password" #password required />
      </div>
      <button type="submit" (click)="authService.Register(email.value, password.value)" class="submit-button">Sign
        Up</button>
        <div class="no-account-header">
          <span> ALready have an account </span>
          <a routerLink="/login"> Sign In </a>
        </div>
    </form>
  </div>
</div>
</div>