.doctor-profile-pic{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
.doctor-dashboard{
    min-height: 100vh;
    background-color: rgb(212, 212, 212);
}
.doctor-first-row{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    width: 100%;

}
.doctor-second-row{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.patient-personal-details{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-bottom: 1.6rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.second-row-notes-div{
    /* padding-right: 1rem; */
    margin: 0 1rem;
    width: 50%;

}
.medicine-patient-info{
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    padding: 1rem 0rem;
}
.notes-patient-info {
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    /* margin-left: 1rem; */
    /* margin-right: 1rem; */
    padding: 1rem 0rem;
}
.personal-patient-info{
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem 0rem;
    
}
.patient-info-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}
.info-row-header{
    font-size: 1.25rem;
    font-weight: 500;
}
.lasvisit-patient-info{
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem 0rem;
    margin-left: 1rem;
}
.medicine-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.medicine-header{
    color: #20B5B5;
    font-size: 2rem;
    margin: 0;
    padding: 0rem 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    border-bottom : rgb(192, 192, 192) 2px solid;
}
.medicine-title-text{
    margin: 0;
    margin-right: 1rem;

}
.title-name{
    color: #20B5B5;
    font-size: 2rem;
    margin: 0;
    padding: 0rem 1rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    
    border-bottom : rgb(192, 192, 192) 2px solid;
}
.info-row{
    padding: 0rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 100%; */
    margin-top: 0.8rem;
}
.last-visit{
    font-size: 4rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.aligned-info{
    display: flex;
    flex-direction: column;
}
.doctor-header{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1.6rem;
    font-weight: 700;
    background-color: white;
}
.doctor-header p{
    padding: 0;
    margin: 0;
}
.dashboard-medicine-div{
    padding: 1rem 1rem;
}
.medicine-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 0.4rem;
}
.medicine-info-header{
    font-weight: 500;
    font-size: 1.25rem;
}
.medicine-div-header-sidepanel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}
.medicine-div-header-sidepanel svg{
    height: 32px;
    width: 32px;
}
.medicine-add-button{
    margin-right: 1rem;
}
@media screen and (max-width:  800px){
   .doctor-first-row{
    flex-direction: column;
    }
    .patient-personal-details{
        width: auto;
        padding : 0 1rem;
        margin-left: 0;
        margin-right: 0;
        /* padding: 0 1rem; */
    }
    .doctor-second-row{
        flex-direction: column;
        margin-top: 0;
    }
    .second-row-notes-div{
        width: auto;
        margin-bottom: 1rem;
    }
}
@media screen and (max-width :  500px){
    .patient-personal-details{
        flex-direction: column;
    }
    .personal-patient-info{
        width: auto;
        margin-bottom: 1rem;
    }
    .lasvisit-patient-info{
        width: auto;
        margin-left: 0;
    }
}