<div class="transactions">
  <div class="section-title">Latest Appoinmemts</div>
  <div class="transaction-wrapper">
    <div class="transaction-heading">
      <div class="headings1">
        Display Name
      </div>
      <div class="headings2">
        Age
      </div>
      <div class="headings3">
        Phone No.
      </div>
      <div class="headings4">
        Ailments
      </div>
    </div>
    <div class="transaction" (click)="openSendToDoctor(true)" *ngFor="let dat of arr">
      <!--<div class="image">
        <img [src]="transaction.image_fieldurl" alt="" />
      </div>-->
      <div class="title" >{{ dat.display_name  }}</div>

      <div class="price">{{ dat.Age }}</div>
      <div class="shop-location">{{dat.Phone_no}}</div>
        <div class="location">{{ dat.Ailments }}</div>
    </div>
    <div [ngClass]="{'modalVisible' : sendToDoctor, 'modalInvisible' : !sendToDoctor}">
      <!-- <app-doctor-widget></app-doctor-widget> -->
      <app-doctor-modal (CloseSendToDoctor)="CloseSendToDoctor($event)" ></app-doctor-modal>
  </div>
</div> 
