
.transaction-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
    /* width: 48vw; */
    margin-left: 2rem;
    background-color: #d5f6f6;
    border-radius: 1rem;
    box-shadow: 0.5px 0.5px 0.5px #939393;
    /*box-shadow: 0.5px 0.5px 0.5px #939393;*/
  }
  .section-title{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-family: Poppins;
  }
.title {
    padding: 20px;
    padding-bottom: 5px;
    text-align: center;
    color: #333333;
    font-family: Poppins;
  }

  .title {
    cursor: pointer;
  }

  .transaction {
    display: flex;
    align-items: center;
    padding: 5px 5px;
    border-bottom-width:2px;
    border-bottom-color:White;
    border-bottom-style: solid;
  }

  .transaction-heading {
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    font-family: Poppins;
    padding-top: 1rem;
    border-bottom-width:2px;
    border-bottom-color:White;
    border-bottom-style: solid;
  }


  img {
    width: 45px;
    height: 45px;
    object-fit: cover;
  }

  .title {
    padding: 10px;
    font-size: 16px;
    width: 20vw;
    font-family: Poppins;
    font-weight: 500;
  }

  .price {
    padding: 10px;
    font-size: 16px;
    width: 6vw;
    font-family: Poppins;
    font-weight: 500;
  }

  .location {
    margin-top: 2px;
    font-size: 14px;
    text-transform: uppercase;
    width: 12vw;
    margin-left: 80px;
    font-family: Poppins;
    font-weight: 500;
  }


  .shop-location {
    padding: 10px;
    font-size: 16px;
    width: 6vw;
    font-family: Poppins;
    font-weight: 500;
  }

  .modalInvisible{
    display: none;
}
.modalVisible{
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0,0.2);
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    
}

  @media screen and (max-width : 600px){
    .widget-container{
        flex-direction: column;
        width: 100%;
    }
    .widget{
        width: 80%;
    }
    .button-container{
        margin-right: 0;
        width: 80%;
        display: flex;
        justify-content: center;
    }
    .button{
        display: flex;
        width: auto;
        justify-content: center;
        align-items: center;
    }
}