.container {
    width: 35rem;
    margin-left: 2rem;
    background-color: #d5f6f6;
    border-radius: 1rem;
    box-shadow: 0.5px 0.5px 0.5px #939393;
}

.container:hover .icon {
  background-color: #7fe8e8;
  color: white;
}

.icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 1rem;
  background-color: white;
  padding: 0.5rem;
  text-align: center;
}


  .section-title{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1rem;
    padding-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-family: Poppins;
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }


  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
.title {
    padding: 20px;
    padding-bottom: 5px;
    text-align: center;
    color: #333333;
    font-family: Poppins;
  }

  .transaction {
    display: flex;
    align-items: center;
    padding: 5px 5px;
    border-bottom-width:2px;
    border-bottom-color:White;
    border-bottom-style: solid;
  }

  .transaction-heading {
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    font-family: Poppins;
    padding-left: 1rem;
    padding-top: 1rem;
    border-bottom-width:2px;
    border-bottom-color:White;
    border-bottom-style: solid;
  }

  .headings1 {
    padding-left: 5rem;
  }

  .headings2 {
    padding-left: 10.25rem;
  }

  img {
    width: 45px;
    height: 45px;
    object-fit: cover;
  }

  .title {
    padding: 10px;
    font-size: 16px;
    width: 190px;
    font-family: Poppins;
    font-weight: 500;
    margin-left: 2.5rem;
  }

  .price {
    font-size: 16px;
    width: 90px;
    font-family: Poppins;
    font-weight: 500;
    margin-left: 6.7rem;
  }

  .button {
    width: 10vw;
    height: 3vh;
    border-radius: 5px ;
    margin: 5px;
    box-shadow: 0.5px 0.5px 0.5px #939393;
    text-align: center;
    font-weight: 500;
    font-family: Poppins;
    padding: 10px;
    background-color: #ffffff;
    font-size: 15px;
}

.button-container {
  margin-top: 1rem;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.button:hover {
  background-color: #DCFFFF;
  cursor: pointer;
}

.modalInvisible{
  display: none;
}
.modalVisible{
  display: flex;
  position: absolute;
  background-color: rgba(0, 0, 0,0.2);
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  
}