<div class="login-bg">
    <div class="login-from">
      <div class="log-header-div">
        <svg
          class="login-logo"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            d="M272 96c-78.6 0-145.1 51.5-167.7 122.5c33.6-17 71.5-26.5 111.7-26.5h88c8.8 0 16 7.2 16 16s-7.2 16-16 16H288 216s0 0 0 0c-16.6 0-32.7 1.9-48.3 5.4c-25.9 5.9-49.9 16.4-71.4 30.7c0 0 0 0 0 0C38.3 298.8 0 364.9 0 440v16c0 13.3 10.7 24 24 24s24-10.7 24-24V440c0-48.7 20.7-92.5 53.8-123.2C121.6 392.3 190.3 448 272 448l1 0c132.1-.7 239-130.9 239-291.4c0-42.6-7.5-83.1-21.1-119.6c-2.6-6.9-12.7-6.6-16.2-.1C455.9 72.1 418.7 96 376 96L272 96z"
          />
        </svg>
        <div class="no-account-header">
          <span> Don't Have a account </span>
          <a routerLink="/register"> Sign up </a>
        </div>
      </div>
      <span class="form-header">Sign in</span>
      <div class="sign-in-with-google" 
      (click)="authService.GoogleAuth()"
      >
        <svg
          fill="white"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 488 512"
        >
          <path
            d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"
          />
        </svg>
        Sign in With Google
      </div>
      <form class="login-form">
        <div class="email-div">
          <label for="email"> Email Address </label>
          <input type="email" placeholder="Email" id="email" name="email" #email required/>
        </div>
        <div class="password-div">
          <input type="password" id="password" placeholder="Password" name="password" #password required/>
        </div>
        <button type="submit" 
        (click)="authService.Login(email.value, password.value)"
        class="submit-button">Sign in</button>
      </form>
    </div>
    <div>
      <img src="/" alt="sidevector" />
    </div>
  </div>
  