.heading {
    margin-left: 5rem;
    font-size: x-large;
    margin-top: 2rem;
}

.search {
    margin-left: 5rem;
}

.search-patient {
    margin-left: 3rem;
    margin-top: 1rem;
}

.list-patients {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.rows {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.display {
    width: 80vw;
    height: 80vh;
}