
<div class="widget-container">
    <div class="widget">
        <div class="icon">
            <fa-icon [icon]="faStethoscope"></fa-icon>
        </div>
      <div class="value">
        <div class="top">32</div>
        <div class="bottom">Doctors</div>
      </div>
    </div>
    <div class="widget">
        <div class="icon">
            <fa-icon [icon]="faHeart"></fa-icon>
        </div>
      <div class="value">
        <div class="top">200</div>
        <div class="bottom"> Patients </div>
      </div>
    </div>
    <div class="button-container">
    <div class="button" (click)="toggleModal(true)">
      Add Patient
    </div>
   
    </div>
    <div [ngClass]="{'modalVisible' : modalState, 'modalInvisible' : !modalState}">

      <app-patient-form (onAddPaitentClose)="onAddPaitentClose($event)" ></app-patient-form>
    </div>
</div>
