
<div class="widget-container">
    <div class="widget">
        <div class="icon">
            <fa-icon [icon]="faStethoscope"></fa-icon>
        </div>
      <div class="value">
        <div class="top">32</div>
        <div class="bottom">Doctors</div>
      </div>
    </div>
    <div class="widget">
        <div class="icon">
            <fa-icon [icon]="faHeart"></fa-icon>
        </div>
      <div class="value">
        <div class="top">{{patientCount}}</div>
        <div class="bottom"> Patients </div>
      </div>
    </div>
    <div class="button-container">
    <div class="button" (click)="toggleModal1(true)">
      Add Patient
    </div>
   
    </div>
    <div class="button-container">
      <div class="button" (click)="openAddPatientModal()">
        Add Doctor
      </div>
     
      </div>
      <div [ngClass]="{'modalVisible' : addDoctorModalState, 'modalInvisible' : !addDoctorModalState}">

        <app-doctor-form (onAddDoctorClose)="onAddDoctorClose($event)" ></app-doctor-form>
      </div>
    <div [ngClass]="{'modalVisible' : modalState1, 'modalInvisible' : !modalState1}">

      <app-patient-form (onAddPaitentClose)="onAddPatientClose($event)" ></app-patient-form>
    </div>
    <div class="button-container">
      <div class="button" (click)="toggleModal2(true)">
        Add Details
      </div>
     
      </div>
      <div [ngClass]="{'modalVisible' : modalState2, 'modalInvisible' : !modalState2}">
  
        <app-patient-details (onAddDetailsClose)="onAddDetailsClose($event)" ></app-patient-details>
      </div>
      <div class="button-container">
        <div class="button" (click)="onAddDoctorClose(true)">
          Add Doctor
        </div>
       
        </div>
        <div [ngClass]="{'modalVisible' : addDoctorModalState, 'modalInvisible' : !addDoctorModalState}">
    
          <app-doctor-form (onAddDoctorClose)="onAddDoctorClose($event)" ></app-doctor-form>
        </div>
</div>
